

//Layouts
$gameWidth : 950px;
$gameHeight : 750px;
$canvasWidth : 500px;
$canvasHeight : 400px;
$chatContainerWidth : $gameWidth * 0.3;
$chatContainerHeight : $gameHeight * 0.7;
$roomCapacity : 5;
$canvasContainerWidth : $gameWidth * 0.7;
$canvasContainerHeight : $gameHeight * 0.7;

$controlPanelHeight : $gameHeight * 0.3;
$userPanelWidth:$gameWidth/8;

:export{
  gameWidth:$gameWidth;
  gameHeight:$gameHeight;
  canvasWidth:$canvasWidth;
  canvasHeight:$canvasHeight;
  canvasContainerWidth:$canvasContainerWidth;
  canvasContainerHeight:$canvasContainerHeight;
  chatContainerWidth:$chatContainerWidth;
  chatContainerHeight:$chatContainerHeight;
  roomCapacity:$roomCapacity;
  controlPanelHeight:$controlPanelHeight;
  userPanelWidth:$userPanelWidth;
}