

//Layouts
$gameWidth : 950px;
$gameHeight : 750px;
$canvasWidth : 500px;
$canvasHeight : 400px;
$chatWidth : $gameWidth * 0.3;
$chatHeight : $gameHeight * 0.7;
$roomCapacity : 5;

:export{
  gameWidth:$gameWidth;
  gameHeight:$gameHeight;
  canvasWidth:$canvasWidth;
  canvasHeight:$canvasHeight;
  chatWidth:$chatWidth;
  chatHeight:$chatHeight;
  roomCapacity:$roomCapacity;
}