@import "../_variables";

$panelHeight:calc(#{$gameHeight} * 0.3);

$userPanelWidth:$gameWidth/8;

.control-panel{
  clear: left;
  background-color:wheat;
  width:$gameWidth;
  height:$panelHeight;

  .users-container{
    background-color: green;
    width:calc(#{$userPanelWidth} * #{$roomCapacity});
  }
  .user-panel{
    background-color: red;
    border: 1px solid pink;
    width:$userPanelWidth;
    height:$panelHeight;
    float:left;
  }
}