@import "../_variables";


$gameStatsDisplay:$chatContainerHeight/7;
$chatWidth:$chatContainerWidth;
$chatHeight:$chatContainerHeight - 50px - $gameStatsDisplay;


.chat-container{
    float:left;
    height:$chatContainerHeight;
    width:$chatContainerWidth;
    background-color:#FFAAFF;

    .game-state-disp{
      height:$gameStatsDisplay;
      width:$chatContainerWidth;
      background-color: red;
    }

    .chat-disp{
        text-align: left;
        height:$chatHeight;
        max-height: $chatHeight;
        width:$chatContainerWidth;
        background-color: #FFFFAA;

        overflow-y:scroll;
        ::-webkit-scrollbar {
            width: 10px;
        }
    }

    .txt-field{
        height:50px;
    }

}