
@import "../_variables";

.game-container{
  margin: 0 auto;
  background-color: red;
  width: $gameWidth ;
  height: $gameHeight ;
}

.lobby-container{
  margin : 0 auto;
  height:$gameHeight;
  width:$gameWidth;
  position:relative;
  .inputs{
    height:300px;
    width:500px;
    margin: auto;
    position:absolute; //🤔
    top:0;
    left:0;
    right: 0;
    bottom: 0;

    .input-field{
      margin: 20px 0;
    }
  }
}